$Raleway: "Raleway", sans-serif;
$Cardo: "Cardo", serif;
$color-text: #FFFFFF;
$color-button: #FF4343;
$color-border: #BABBC5;
$color-title: #2D3033;
$color-features: #6C7279;

@mixin font($fontSize, $lineHeight, $fontWeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $Raleway;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.banner {
    padding: 230px 0 120px;
    background: url(../media/banner.png) center/cover no-repeat;
    position: relative;
    margin-bottom: 109px;

    @media screen and (max-width: 1024px) {
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }

    @media screen and (max-width: 767px){
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #252B49, $alpha: 0.8);
    }

    &__container {
        position: relative;
        text-align: center
    }

    &__title {
        @include font(64px, 75px, 900, $color-text);
        text-transform: uppercase;
        margin-bottom: 31.43px;

        @media screen and (max-width: 1024px) {
            @include font(48px, 56px, 900, $color-text);
            margin-bottom: 61.86px;
        }

        @media screen and (max-width: 767px){
            @include font(36px, 42px, 900, $color-text);
            margin-bottom: 32.71px;
        }
    }

    &__text {
        @include font(24px, 28px, 400, $color-text);
        max-width: 999px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1072px) {
            max-width: 860px;
        }
        @media screen and (max-width: 1024px) {
            @include font(18px, 21px, 400, $color-text);
        }
        @media screen and (max-width: 1072px) {
            max-width: 680px;
        }
        @media screen and (max-width: 767px){
            @include font(14px, 16px, 400, $color-text);
        }
        @media screen and (max-width: 621px) {
            max-width: 487px;
        }
    }

    &__button {
        margin-top: 79.57px;
        max-width: 370px;
        width: 100%;
        background-color: $color-button;
        @include font(24px, 28px, 900, $color-text);
        text-transform: uppercase;
        padding: 26px 5px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #E71414;
        }

        &:active {
            background-color: $color-button;
            box-shadow: 4px 4px 30px 0 $color-button;
        }

        @media screen and (max-width: 1024px) {
            margin-top: 89.14px;
            max-width: 314px;
        }

        @media screen and (max-width: 767px){
            margin-top: 49.29px;
            max-width: 767px;
            padding: 16px 5px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    @media screen and (max-width: 767px) {
        padding: 19px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        border-bottom: 1px solid $color-border;

        @media screen and (max-width: 1024px) {
            // max-width: 984px;
        }

        @media screen and (max-width: 767px) {
            border-bottom: none;
            align-items: center;
        }
    }

    &__wrapper-icon {
        display: flex;
        max-width: 183.86px;
        width: 100%;

        & svg {
            @media screen and (max-width: 767px) {
                max-width: 103.47px;
            }
        }
    }

    &__nav {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
        list-style: none;
    }

    &__nav-item {
        min-width: 134px;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: transparent;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:hover::before{
            background-color: $color-border;
        }

        &:active::before {
            background-color: #E71414;
        }
        .header__nav-link:active {
            color: #E71414;
        }

        @media screen and (max-width: 1024px) {
            min-width: 112px;
        }

        @media screen and (max-width: 810px) {
            min-width: max-content;
            padding: 0 10px;
        }
    }

    &__nav-link {
        text-decoration: none;
        @include font(13px, 15px, 700, $color-text);
        text-transform: uppercase;
        padding-top: 36px;
        padding-bottom: 35px;
        display: block;

        @media screen and (max-width: 1024px) {
            @include font(12px, 14px, 700, $color-text);
        }
    }

    &__menu {
        display: none;

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}

.features {
    margin-bottom: 116px;
    @media screen and (max-width: 1024px) {
        margin-bottom: 80px;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 35px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 31px;
        row-gap: 89px;

        @media screen and (max-width: 1024px) {
            margin-bottom: 80px;
            column-gap: 20px;
            row-gap: 50px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 35px;
            grid-template-columns: 1fr;
            row-gap: 41.46px;
        }
    }

    &__block {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-items: center;
        text-align: center;
    }

    &__wrapper-icon {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 29px;

        @media screen and (max-width: 1024px) {
            width: 85px;
            height: 84px;
            margin-bottom: 24.52px;
        }

        @media screen and (max-width: 767px) {
            width: 75px;
            height: 74px;
            margin-bottom: 22px;
        }
    }

    &__title {
        @include font(24px, 28px, 900, $color-title);
        text-transform: uppercase;
        margin-bottom: 20px;

        @media screen and (max-width: 1024px) {
            @include font(18px, 21px, 900, $color-title);
            margin-bottom: 4px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    &__text {
        @include font(18px, 21px, 400, $color-features);
        text-align: center;

        @media screen and (max-width: 1024px) {
            @include font(14px, 16px, 400, $color-features);
        }
    }
}

.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-bottom: 114px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 35px;
    }

    &__wrapper {
        position: relative;
        padding-bottom: 100%;

        // @media screen and (max-width: 1024px) {
        //     padding-bottom: 230.57px;
        // }
        // @media screen and (max-width: 767px) {
        //     padding-bottom: 144px;
        // }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 10px;
        background-color: rgba(255, 67, 67, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        text-align: center;

        &:hover{
            opacity: 1;
        }

        &:active {
            background-color: rgba(185, 12, 12, 0.8)
        }
    }

    &__title {
        @include font(24px, 28px, 900, $color-text);
        text-transform: uppercase;
        margin-bottom: 27px;
        @media screen and (max-width: 1024px) {
            @include font(18px, 21px, 900, $color-text);
            margin-bottom: 13px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 4.63px;
        }
    }

    &__text {
        @include font(18px, 21px, 400, $color-text);
        @media screen and (max-width: 1024px) {
            @include font(14px, 16px, 400, $color-text);
        }
    }
}

.team{

    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        margin-bottom: 114px;
        @media screen and (max-width: 1024px) {
            column-gap: 25px;
            margin-bottom: 78.41px;
        }
        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 56px;
            margin-bottom: 41px;
        }
    }

    &__wrapper-img{
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        margin-bottom: 30px;
       
        @media screen and (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        @include font(24px, 28px, 900, $color-title);
        margin-bottom: 5.29px;
        @media screen and (max-width: 1024px) {
            @include font(18px, 21px, 900, $color-title);
            margin-bottom: 4.6px;
        }
    }

    &__profession{
        @include font(18px, 21px, 400, $color-button);
        margin-bottom: 17.86px;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
            @include font(14px, 16px, 400, $color-button);
            margin-bottom: 22.45px;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 38.5px;
        }
    }

    &__text {
        @include font(18px, 21px, 400, $color-features);
        margin-bottom: 37.86px;
        @media screen and (max-width: 1024px) {
            @include font(14px, 16px, 400, $color-features);
            margin-bottom: 39.2px;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 55.15px;
        }
    }

    &__wrapper-icons {
        display: flex;
        column-gap: 6px;
        @media screen and (max-width: 1024px) {
            column-gap: 5px;
        }
        @media screen and (max-width: 1024px) {
            column-gap: 6px;
        }
    }

    &__icon {
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C6CBCD;
        &:hover path{
            fill: #E71414;
        }
        &:hover {
            border: none;
            transform: scale(2);
        }
        &:active path{
            fill: $color-button;
            box-shadow: 8px 8px 30px $color-button;
        }
        &:active {
            border: none;
            transform: scale(2.5);
        }
        @media screen and (max-width: 1024px) {
            width: 32px;
            height: 32px;
        }
        @media screen and (max-width: 1024px) {
            width: 39px;
            height: 39px;
        }
    }
}

