* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}

.banner {
  padding: 230px 0 120px;
  background: url(../media/banner.png) center/cover no-repeat;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}
@media screen and (max-width: 320px) {
  .banner {
    padding: 106px 0 52px;
  }
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37, 43, 73, 0.8);
}
.banner__container {
  position: relative;
  text-align: center;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 31.43px;
}
@media screen and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 61.86px;
  }
}
@media screen and (max-width: 320px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 32.71px;
  }
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 320px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #FFFFFF;
  }
}
.banner__button {
  margin-top: 79.57px;
  max-width: 370px;
  width: 100%;
  background-color: #FF4343;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 26px 5px;
  border: none;
}
.banner__button:hover {
  background-color: #E71414;
}
.banner__button:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px 0 #FF4343;
}
@media screen and (max-width: 1024px) {
  .banner__button {
    margin-top: 89.14px;
    max-width: 314px;
  }
}
@media screen and (max-width: 320px) {
  .banner__button {
    margin-top: 49.29px;
    max-width: 280px;
    padding: 16px 5px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: calc(50% - 600px);
  z-index: 10;
  padding-top: 38.36px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 38px 20px 0;
    left: 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding: 0 20px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 316.14px;
       column-gap: 316.14px;
  border-bottom: 1px solid #BABBC5;
}
@media screen and (max-width: 1024px) {
  .header__container {
    -moz-column-gap: 234.14px;
         column-gap: 234.14px;
  }
}
@media screen and (max-width: 320px) {
  .header__container {
    -moz-column-gap: 121.53px;
         column-gap: 121.53px;
    border-bottom: none;
    align-items: center;
  }
}
.header__wrapper-icon {
  max-width: 183.86px;
  width: 100%;
}
@media screen and (max-width: 320px) {
  .header__wrapper-icon svg {
    max-width: 103.47px;
  }
}
@media screen and (max-width: 320px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header__nav-item {
  min-width: 134px;
  padding-bottom: 38px;
  text-align: center;
  position: relative;
}
.header__nav-item:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #BABBC5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__nav-item:active::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E71414;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__nav-item .header__nav-link:active {
  color: #E71414;
}
@media screen and (max-width: 1024px) {
  .header__nav-item {
    min-width: 112px;
  }
}
.header__nav-link {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .header__nav-link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #FFFFFF;
  }
}
.header__menu {
  display: none;
}
@media screen and (max-width: 320px) {
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 56px;
  }
}/*# sourceMappingURL=style.css.map */