$Raleway: "Raleway", sans-serif;
$Cardo: "Cardo", serif;
$color-text: #FFFFFF;
$color-button: #FF4343;
$color-border: #BABBC5;

@mixin font($fontSize, $lineHeight, $fontWeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $Raleway;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: 1024px){
        max-width: 984px;
    }

    @media screen and (max-width: 320px){
        max-width: 280px;
    }
}

.banner {
    padding: 230px 0 120px;
    background: url(../media/banner.png) center/cover no-repeat;
    position: relative;

    @media screen and (max-width: 1024px) {
        padding: 257px 0 126px;
    }

    @media screen and (max-width: 320px){
        padding: 106px 0 52px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #252B49, $alpha: 0.8);
    }

    &__container {
        position: relative;
        text-align: center
    }

    &__title {
        @include font(64px, 75px, 900, $color-text);
        text-transform: uppercase;
        margin-bottom: 31.43px;

        @media screen and (max-width: 1024px) {
            @include font(48px, 56px, 900, $color-text);
            margin-bottom: 61.86px;
        }

        @media screen and (max-width: 320px){
            @include font(36px, 42px, 900, $color-text);
            margin-bottom: 32.71px;
        }
    }

    &__text {
        @include font(24px, 28px, 400, $color-text);

        @media screen and (max-width: 1024px) {
            @include font(18px, 21px, 400, $color-text);
        }

        @media screen and (max-width: 320px){
            @include font(14px, 16px, 400, $color-text);
        }
    }

    &__button {
        margin-top: 79.57px;
        max-width: 370px;
        width: 100%;
        background-color: $color-button;
        @include font(24px, 28px, 900, $color-text);
        text-transform: uppercase;
        padding: 26px 5px;
        border: none;

        &:hover {
            background-color: #E71414;
        }

        &:active {
            background-color: $color-button;
            box-shadow: 4px 4px 30px 0 $color-button;
        }

        @media screen and (max-width: 1024px) {
            margin-top: 89.14px;
            max-width: 314px;
        }

        @media screen and (max-width: 320px){
            margin-top: 49.29px;
            max-width: 280px;
            padding: 16px 5px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: calc(50% - 600px);
    z-index: 10;
    padding-top: 38.36px;

    @media screen and (max-width: 1024px) {
        padding: 38px 20px 0;
        left: 0;
    }

    @media screen and (max-width: 320px) {
        padding: 0 20px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 316.14px;
        border-bottom: 1px solid $color-border;

        @media screen and (max-width: 1024px) {
            column-gap: 234.14px
        }

        @media screen and (max-width: 320px) {
            column-gap: 121.53px;
            border-bottom: none;
            align-items: center;
        }
    }

    &__wrapper-icon {
        max-width: 183.86px;
        width: 100%;

        & svg {
            @media screen and (max-width: 320px) {
                max-width: 103.47px;
            }
        }
    }

    &__nav {
        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__nav-item {
        min-width: 134px;
        padding-bottom: 38px;
        text-align: center;
        position: relative;

        &:hover::before {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $color-border;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:active::before {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: #E71414;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .header__nav-link:active {
            color: #E71414;
        }

        @media screen and (max-width: 1024px) {
            min-width: 112px;
        }
    }

    &__nav-link {
        text-decoration: none;
        @include font(13px, 15px, 700, $color-text);
        text-transform: uppercase;

        @media screen and (max-width: 1024px) {
            @include font(12px, 14px, 700, $color-text);
        }
    }

    &__menu {
        display: none;

        @media screen and (max-width: 320px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 56px;
        }
    }
}

